.event-section {
  padding-top: 4%;
  padding-bottom: 4%;
  overflow-x: hidden;
}

.event-item {
  margin-bottom: 50px;
}

.event-img {
  width: 100%;
  height: 40vh;
}

.event-links {
  text-decoration: none;
}
