body{
  padding: 2rem 0rem;
}

.card-img {
  width: 500px;
  height: 500px;
  position: relative; 
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 50%;
  max-height: 50%;
  z-index: 10;
  
}


/* 
.upcomingEvent-card-overlay {
  background-color: gray;
  color: purple;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  z-index: 2;
} */

/* 
.devevent-section {
  padding-top: 4%;
  padding-bottom: 4%;
  overflow-x: hidden;
}

.devevent-title {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.devevent-subtitle {
  width: 80vw;
  margin-left: 6em;
  font-size: 30px;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 15px;
} */



/* .devevent-card-overlay { */
  /* position: absolute; */
  /* position: fixed; */
  /* top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: black;
  z-index: 20000;
} */

.card-link a {
  text-decoration: none;
}